[Unit]
Conflicts=getty@tty1.service
Description=Weston Wayland Compositor
RequiresMountsFor=/run
After=dbus.service multi-user.target

[Service]
Group=display
Type=notify
Environment="XDG_RUNTIME_DIR=/run/platform/display"
Environment="XDG_RUNTIMESHARE_DIR=/run/platform/display/share"
ExecStartPre=/bin/mkdir -p /run/platform/display/share
ExecStartPre=+/usr/bin/chsmack -a User::App-Shared -t /run/platform/display/share
ExecStartPre=+/bin/ln -s /mnt/tmp/wayland-1 /run/platform/display/
TTYPath=/dev/tty4
StandardInput=tty4
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
UtmpIdentifier=tty4
User=display
EnvironmentFile=-/etc/default/weston
#ExecStart=/usr/bin/weston --idle-time=0  --tty=4 --log=/run/platform/display/weston.log
ExecStart=/usr/bin/weston --idle-time=0  --log=/run/platform/display/weston.log -Bwayland-backend.so --display=wayland-1 --width=1920 --height=1080

[Install]
WantedBy=multi-user.target

